.about .aboutName {
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-top: 30px;
}

.about .aboutImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  /* height: 150px;
  width: 150px; */
}

.about .aboutJob {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  padding-left: 20px;
}

.about .aboutLocation {
  color: #6d6f71;
  font-weight: 150;
  padding-left: 20px;
}

.about .aboutSummary {
  color: #6d6f71;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 25px;
}

.skills,
.proficient {
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: #d0d0d1;
}
.skillFlex,
.proficientFlex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.skillFlex p,
.proficient p {
  padding-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.skillBtn,
.proficientBtn {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.skillBtn button,
.proficientBtn button {
  flex: 1 0 31%;
  align-items: center;
  color: #d0d0d1;
  background-color: #383b40;
  padding: 12px 0px 12px 0px;
  margin: 5px;
  border-radius: 20px;
  border: 1px solid #383b40;
}
