.skilldetails {
  padding-left: 20px;
  padding-right: 20px;
}
.nav-details {
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: #d0d0d1;
  border-bottom: 1px solid gray;
  margin-bottom: 30px;
}

.nav-details .hide {
  visibility: hidden;
}

.group {
  margin-bottom: 20px;
  line-height: 5px;
}

.group-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: #d0d0d1;
}

.group-top p {
  padding-right: 10px;
}

.group-top .aside p {
  padding-right: 10px;
  color: white;
  font-weight: 700;
}

.aside {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.aside p {
  padding-left: 10px;
}

.group-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.group-bottom .firstP {
  padding-right: 10px;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: #d0d0d1;
}

.br {
  border-bottom: 1px solid #6d6f71;
}

.experience {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: #d0d0d1;
}

.experience .expHeader {
  color: #6d6f71;
}

.founding {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #6d6f71;
  line-height: 8px;
  margin-bottom: 30px;
}

.founding .foundingHeader {
  color: rgba(205, 220, 57, 1);
}

.others {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: #d0d0d1;
  margin-bottom: 30px;
}

.others .otherHeader {
  color: #6d6f71;
}

.others .otherCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.others .otherCard .card-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.others .otherCard .card-left .name {
  line-height: 5px;
  padding-left: 15px;
}

.others .otherCard .card-left .name .top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.others .otherCard .card-left .name .top p {
  color: rgba(205, 220, 57, 1);
  padding-right: 10px;
}

.card-right {
  border-radius: 100%;
  background-color: rgba(53, 55, 59, 0);
  padding: 3.5px;
  padding-bottom: 0.1px;
}
